################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blinky/obj/Debug
/NetMf.CommonExtensions/obj/Debug
/TestMorsePatternGeneratorTests/obj/Debug
/.vs/Blinky/v14/.suo
